<h1>Shelters</h1>

<% @shelters.each do |shelter| %>
  <h3>Name: <%= shelter.name %></h3>
  <%= link_to 'Edit', "/shelters/#{shelter.id}/edit" %>
  <%= link_to 'Delete', "/shelters/#{shelter.id}", method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>
<br>
<br>
<a href="/shelters/new">Create New Shelter</a>
