<html>
<body>
 <link rel="stylesheet" href="stylesheets/weclcome.css" title="text/css" />
<div class="header">
<h2>Welcome to Adopt Dont Shop</h2>
</div>
<div class="main">
  <img src="https://i3.cpcache.com/merchandise/631_550x550_Front_Color-White.jpg?Size=Small-3x3&AttributeValue=NA&c=True&region={%22name%22:%22FrontCenter%22,%22width%22:2.8457596,%22height%22:2.5,%22alignment%22:%22MiddleCenter%22,%22orientation%22:0,%22dpi%22:200,%22crop_x%22:0,%22crop_y%22:0,%22crop_h%22:400,%22crop_w%22:600,%22scale%22:0,%22template%22:{%22id%22:97847515,%22params%22:{}}}">
</div>
  <br/>
<div class="time">
  The time is now: <%= Time.now.asctime  %>
</div>
<body>
  </html>
